---
layout: default
---

<ul class="posts">
    
    <h4>Entrées</h4>
    {% for post in site.posts %}
        {% if post.categories contains 'Entrées' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}

    <h4>Plats</h4>
    {% for post in site.posts %}
        {% if post.categories contains 'Plats' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
