---
layout: default
---

            <h1 class="site-name">MDRecipe</h1>
            <p class="site-description">Des bonnes petites recettes, au format markdown</p>

<h4>Entrées</h4>
<ul class="posts">
    
    {% for post in site.posts %}
        {% if post.categories contains 'starter' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}

</ul>

<h4>Plats</h4>
<ul class="posts">
    {% for post in site.posts %}
        {% if post.categories contains 'dish' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h4>Desserts</h4>
<ul class="posts">
    {% for post in site.posts %}
        {% if post.categories contains 'dessert' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h4>Boissons</h4>
<ul class="posts">
    {% for post in site.posts %}
        {% if post.categories contains 'drinks' %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
